@page "/"
@page "/{categoryUrl}"
@page "/search/{searchText}"
@inject IProductService ProductService

<PageTitle>Blazor Shop</PageTitle>
<p>Hello Remote</p>

@if (SearchText == null && CategoryUrl == null)
{
    <FeaturedProducts />
}
else
{
    <ProductList />
}

@code {
    [Parameter]
    public string? CategoryUrl { get; set; }

    [Parameter]
    public string? SearchText { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (SearchText != null)
        {
            await ProductService.SearchProducts(SearchText);
        }
        else
        {
            await ProductService.GetProducts(CategoryUrl);
        }
    }
}
